<p id="notice"><%= notice %></p>

<p>
  <strong>NickName:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-light" %> |
<%= link_to 'Back', users_path, class: 'btn btn-secondary'%>
