<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @merchant.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @merchant.street %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @merchant.country_code %>
</p>

<p>
  <strong>Extra info:</strong>
  <%= @merchant.extra_info %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant), class: 'btn btn-outline-warning' %> |
<%= link_to 'Back', merchants_path, class: 'btn btn-outline-info' %>
